:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  > :not(:last-child) {
    margin-bottom: 1rem;
  }
}

.blocks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-width: fit-content;
}
