:host {
  > :not(:last-child) {
    margin-bottom: 2rem;
  }
}

dl {
  width: fit-content;
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

dt {
  &::after {
    content: ':';
  }
}

dd {
  text-align: end;
}

.mat-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
