<mat-card>
  <p>Enter the symbol of a stock to track</p>

  <form (ngSubmit)="submit()">
    <ng-container [formGroup]="formGroup">
      <mat-form-field appearance="outline">
        <input
          matInput
          type="text"
          #input
          autofocus
          formControlName="symbol"
          required
          maxlength="5"
          minlength="1"
        />
        <mat-hint>ie: AAPL, TSLA, GOOGL</mat-hint>
      </mat-form-field>
    </ng-container>
    <button
      mat-flat-button
      color="accent"
      type="submit"
      [disabled]="formGroup.invalid"
    >
      Track Stock
    </button>
  </form>
</mat-card>
